<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Main Menu</title>
</head>

<body style="padding:20px">
    <table border="2px">
        <thead>
            <tr>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><a href="categoria?nome=">Categorias</a></th>
            </tr>
            <tr>
                <th><a href="retalhista?tin=">Retalhistas</a></th>
            </tr>
            <tr>
                <th><a href="ivm?num_serie=&fabricante=">Eventos de Reposição</a></th>
            </tr>
            <tr>
                <th><a href="super_categoria?nome=">Sub-categorias</a></th>
            </tr>
        </tbody>
    </table>
</body>

</html>