<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Super-Categorias</title>
</head>

<body style="padding:20px">
    <p><a href="{{ url_for('main_menu') }}">Back</a></p>
    <br>
    <h3>Procurar Categoria</h3>
    <form action="search_supercategoria" method="post">
        <p><input type="text" name="nome" placeholder="Nome" /></p>
        <p><input type="submit" value="Procurar" /></p>
    </form>
    <br>

    {% if cursor %}
    <table border="2px">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
            <tr>
                <td>{{ record[0] }}</td>
                <td><a href="list_sub_cat?nome={{ record[0] }}">Listar Sub-Categorias</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
    {% endif %}
</body>

</html>